* {
  font-family: "Press Start 2P";
}

body {
  margin: 0px;
  background-color: black;
}

.grid_container {
  margin: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 10% 30% 10% 15% 15% 10%;
      grid-template-rows: 10% 10% 30% 10% 15% 15% 10%;
  height: 100vh;
  width: 100vw;
}

.grid_container .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid_container .box1 .again {
  background-color: white;
  width: 6em;
  color: black;
  margin: 10px;
  padding: 15px 30px;
  border-radius: 10px;
  -webkit-animation-name: none;
          animation-name: none;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  font-size: 1.2em;
}

.grid_container .box1 .instruction {
  color: white;
  margin: 10px;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.2em;
}

.grid_container .box2 .guess {
  font-size: 3rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid_container .box3 {
  margin-top: 5%;
}

.grid_container .box3 .answer_container {
  font-size: 8rem;
  text-align: center;
  margin: 0px auto;
  background-color: white;
  height: 100%;
  width: 20%;
  padding: 0;
  -webkit-animation-name: answer_container_animation;
          animation-name: answer_container_animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.grid_container .box5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.grid_container .box5 .box1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid_container .box5 .box1 input {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  height: 100%;
  color: white;
  height: 70%;
}

.grid_container .box5 .box1 .userInput {
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 60px;
  text-align: center;
}

.grid_container .box5 .box2 {
  width: 50%;
}

.grid_container .box5 .box2 div h1 {
  color: white;
  margin: 20px 10px;
  margin: auto;
  text-align: center;
}

.grid_container .box6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.grid_container .box6 .box1 {
  width: 50%;
}

.grid_container .box6 .box1 button {
  width: 40%;
  height: 40%;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  border: 0px;
}

.grid_container .box6 .box2 {
  width: 50%;
  margin: auto;
}

.grid_container .box6 .box2 h1 {
  text-align: center;
  font-size: 1.2em;
  color: white;
}

@-webkit-keyframes answer_container_animation {
  from {
    background-color: white;
  }
  to {
    background-color: #484848;
  }
  from {
    color: #484848;
  }
  to {
    color: #979797;
  }
}

@keyframes answer_container_animation {
  from {
    background-color: white;
  }
  to {
    background-color: #484848;
  }
  from {
    color: #484848;
  }
  to {
    color: #979797;
  }
}

@-webkit-keyframes again_animation {
  from {
    background-color: white;
  }
  to {
    background-color: #484848;
  }
  from {
    color: #484848;
  }
  to {
    color: #979797;
  }
}

@keyframes again_animation {
  from {
    background-color: white;
  }
  to {
    background-color: #484848;
  }
  from {
    color: #484848;
  }
  to {
    color: #979797;
  }
}
/*# sourceMappingURL=styles.css.map */